#city{
    background-color: rgb(40, 150, 214);
    width: 35%;
}
body{
    background-color: rgb(179, 250, 255);
}
h1{
    text-align: center;
    background-color: rgb(44, 141, 141);
}
img{
    width: 25%;
    
}